.toggle-button-base {
  width: 132px;
}

.toggle-button-group-base{
    border-radius: 10px;
}

.toggle-button-yes{
    // TODO use Brand Color Variable from Themeing options
    background: #4823D9;
    color: #ffffff;
}