<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    fixedInViewport
    [mode]="true ? 'side' : 'side'"
    [opened]="true"
    position="end"
    style="width: 420px;"
  >
  <app-feedback-sidenav></app-feedback-sidenav>

  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
    >
      Open
    </button> -->
    <router-outlet></router-outlet>
    <srp-toggle-button></srp-toggle-button>
    <!-- <srp-radar-chart></srp-radar-chart>
    <srp-bar-chart></srp-bar-chart>
    <srp-radar-chart></srp-radar-chart> -->
  </mat-sidenav-content>
</mat-sidenav-container>
