<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    fixedInViewport
    [mode]="true ? 'side' : 'side'"
    [opened]="true"
    position="end"
  >
    <div class="feedback-sidenav-header">
      <span class="mat-h3"><b>Projects Feedback</b></span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        class="feedback-sidenav-close"
        style="float: right;"
      >
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
    <mat-tab-group style="width: 100%;" dynamicHeight>
      <mat-tab label="Open">
        <app-feedback-list tab='open'></app-feedback-list>
      </mat-tab>
      <mat-tab label="Submitted">
        <app-feedback-list tab='open'></app-feedback-list>
      </mat-tab>
      <mat-tab label="Closed">
        <app-feedback-list tab='open'></app-feedback-list>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
    >
      Open
    </button>
    <router-outlet></router-outlet>
    <!-- <srp-toggle-button></srp-toggle-button>
    <srp-radar-chart></srp-radar-chart>
    <srp-bar-chart></srp-bar-chart>
    <srp-radar-chart></srp-radar-chart> -->
  </mat-sidenav-content>
</mat-sidenav-container>
